<div class="settings-container">
  <div class="settings-card">
    <p class="settings-card__label">Starting Period Length:</p>
    <div class="settings-card__figure-container">
      <button class="settings-card__btn"
              (click)="incrementSetting('startingPeriodLength', false)">
        <i class="material-icons">keyboard_arrow_down</i>
      </button>
      <h2 class="settings-card__figure">
        {{ settings.startingPeriodLength }}
        <span class="settings-card__unit">m</span>
      </h2>
      <button class="settings-card__btn"
              (click)="incrementSetting('startingPeriodLength', true)">
        <i class="material-icons">keyboard_arrow_up</i>
      </button>
    </div>
  </div>

  <div class="settings-card">
    <p class="settings-card__label">Session Length:</p>
    <div class="settings-card__figure-container">
      <button class="settings-card__btn"
              (click)="incrementSetting('startingSessionLength', false)">
        <i class="material-icons">keyboard_arrow_down</i>
      </button>
      <h2 class="settings-card__figure">
        {{ settings.startingSessionLength }}
        <span class="settings-card__unit">m</span>
      </h2>
      <button class="settings-card__btn"
              (click)="incrementSetting('startingSessionLength', true)">
        <i class="material-icons">keyboard_arrow_up</i>
      </button>
    </div>
  </div>

  <div class="settings-card">
    <p class="settings-card__label">Period End Sound:</p>
    <div class="settings-card__figure-container">
      <select class="settings-card__select"
              [(ngModel)]="settings.periodEndSoundSrc"
              (ngModelChange)="updatePeriodEndSound($event)"
              name="periodEndSound" 
              id="periodEndSound">
        <option value="assets/sounds/kyoto.wav">Kyoto</option>
        <option value="assets/sounds/hand_bells.wav">Hand Bells</option>
        <option value="assets/sounds/candle_damper.wav">Candle Damper</option>
      </select>
    </div>
  </div>

  <div class="settings-card">
    <p class="settings-card__label">Session End Sound:</p>
    <div class="settings-card__figure-container">
      <select class="settings-card__select"
              [(ngModel)]="settings.sessionEndSoundSrc"
              (ngModelChange)="updateSessionEndSound($event)"
              name="sessionEndSound" 
              id="sessionEndSound">
        <option value="assets/sounds/bowl_bell.wav">Bowl Bell</option>
        <option value="assets/sounds/gong_1.wav">Gong 1</option>
        <option value="assets/sounds/gong_2.wav">Gong 2</option>
        <option value="assets/sounds/gong_3.wav">Gong 3</option>
      </select>
    </div>
  </div>
</div>

<!-- Sounds -->
<audio #periodAudio>
  <source [src]="periodEndSoundSrc" type="audio/wav">
</audio>
<audio #sessionAudio>
  <source [src]="sessionEndSoundSrc" type="audio/wav">
</audio>
