<div class="settings-container">
  <div class="settings-card">
    <p class="settings-card__label">Starting Period Length:</p>
  
    <div class="settings-card__figure-container">
      <button class="settings-card__btn"
              (click)="updateSettings('startingPeriodLength', false)">
        <i class="material-icons">keyboard_arrow_down</i>
      </button>
      <h2 class="settings-card__figure">
        {{ settings.startingPeriodLength }}
        <span class="settings-card__unit">m</span>
      </h2>
      <button class="settings-card__btn"
              (click)="updateSettings('startingPeriodLength', true)">
        <i class="material-icons">keyboard_arrow_up</i>
      </button>
    </div>
  </div>
  <div class="settings-card">
    <p class="settings-card__label">Session Length:</p>
    <div class="settings-card__figure-container">
      <button class="settings-card__btn"
              (click)="updateSettings('startingSessionLength', false)">
        <i class="material-icons">keyboard_arrow_down</i>
      </button>
      <h2 class="settings-card__figure">
        {{ settings.startingSessionLength }}
        <span class="settings-card__unit">m</span>
      </h2>
      <button class="settings-card__btn"
              (click)="updateSettings('startingSessionLength', true)">
        <i class="material-icons">keyboard_arrow_up</i>
      </button>
    </div>
  </div>
</div>
