@import '../../variables.scss';

.settings {
  display: relative;
  letter-spacing: 2px;
  margin: 0 auto;
  max-width: 700px;
  padding-top: 4rem;
  text-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

.settings-list {
  border: 0.2rem solid $color-primary-0;
  border-radius: 0.5rem;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
  font-size: 2rem;
  list-style-type: none;
  padding: 2rem 1rem;
  text-align: end;
}

.settings-list__item {
  border-radius: 0.5rem;
  color: $color-white;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  line-height: 2;
  padding: 1rem 2rem;
}

.settings-list__item:nth-child(even) {
  background: lighten($color-darker-gray, 10%);
}

.settings-list__figure {
  color: $color-primary-0;
  font-family: $font-nova;
}

.settings-list__btn-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.settings-list__btn {
  background: transparent;
  border: 0.1rem solid $color-primary-0;
  border-radius: 4px;
  color: $color-white;
 
  &:hover {
    cursor: pointer;
    filter: brightness(150%);
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
}

.settings-list__btn:nth-child(odd) {
  margin-bottom: 0.1rem;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}