@import '../../variables.scss';

.stats-container {
  align-items: center;
  color: $color-gray;
  column-gap: 1.5rem;
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 1.5rem;
}

.stats-card {
  align-items: center;
  background: $color-dark-gray;
  border-left: 4px solid $color-primary-0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  transition: all 300ms ease;

  &:hover {
    border-left: 8px solid lighten($color-primary-0, 10%);
    box-shadow: 2px 5px 10px rgba(0,0,0,0.1);
  }
}

.stats-card__label {
  text-shadow: 1px 2px 2px rgba(0,0,0,0.1);
}

.stats-card__figure {
  color: $color-white;
  text-shadow: 2px 5px 5px rgba(0,0,0,0.1);
}

.stats-card__unit {
  color: $color-primary-0;
}
