<div class="stats">
  <ul class="stats-list">
    <li class="stats-list__item">
      <span>Completed Sessions: </span>
      <span class="stats-list__figure">{{totalSessionTime}}</span>
    </li>
    <li class="stats-list__item">
      <span>Total Session Time: </span>
      <span class="stats-list__figure">{{totalSessionTime}}</span>
    </li>
    <li class="stats-list__item">
      <span>Average Session Time Daily: </span>
      <span class="stats-list__figure">{{totalSessionTime}}</span>
    </li>
    <li class="stats-list__item">
      <span>Longest Session Completed: </span>
      <span class="stats-list__figure">{{totalSessionTime}}</span>
    </li>
    <li class="stats-list__item">
      <span>Longest Period: </span>
      <span class="stats-list__figure">{{totalSessionTime}}</span>
    </li>
  </ul>
</div>