<div class="trainer-container fade-in">
  <!-- Fail Button -->
  <button class="success-fail-btn"
          [ngStyle]="successFailBtnStyle()"
          (click)="handleSuccessFailClick(false)"
          [disabled]="!periodComplete">
    <i class="success-fail-btn__icon material-icons">clear</i>
  </button>

  <!-- BEGIN Circle -->
  <div class="begin-circle__container" *ngIf="!firstSessionStarted">
    <div id="cc">
    <div class="begin-circle" id="five"></div>
    <div class="begin-circle" id="four"></div>
    <div class="begin-circle" id="three"></div>
    <div class="begin-circle" id="two"></div>
    <div class="begin-circle" id="one">
      <button class="begin-circle__btn" (click)="startSession()">
        BEGIN
      </button>
    </div>
    </div>
  </div>

  <!-- Period Circle -->
  <div class="period-circle__box fade-in" *ngIf="firstSessionStarted">
    <div class="period-circle__wrapper period-circle__wrapper--right">
      <div class="period-circle__whole period-circle__right"
           [ngStyle]="{ 'animation': ('circleRight ' + currentMaxPeriodLength + 's linear forwards') }"
           *ngIf="circleAnimationStarted">
      </div>
    </div>
    <!-- Period Timer -->
    <div class="timer__container timer-container--period">
      <div class="timer-clock">
        {{ periodTimer }}
      </div>
    </div>
    <div class="period-circle__wrapper period-circle__wrapper--left">
      <div class="period-circle__whole period-circle__left"
           [ngStyle]="{ 'animation': 'circleLeft ' + currentMaxPeriodLength + 's linear forwards' }"
           *ngIf="circleAnimationStarted">
      </div>
    </div>
  </div>

  <!-- Success Button -->
  <button class="success-fail-btn"
          [ngStyle]="successFailBtnStyle()"
          (click)="handleSuccessFailClick(true)"
          [disabled]="!periodComplete">
    <i class="success-fail-btn__icon material-icons">check</i>
  </button>

  <!-- Session Timer -->
  <div></div>
  <div class="timer__container timer-container--session fade-in" *ngIf="sessionStarted else newSession">
    <button class="timer__btn" (click)="decreaseSessionLength()">
      <i class="timer__btn-icon material-icons">remove</i>
    </button>
    <div class="timer__clock">
      {{ sessionTimer }}
    </div>
    <button class="timer__btn" (click)="increaseSessionLength()">
      <i class="timer__btn-icon material-icons">add</i>
    </button>
  </div>
  <div></div>

  <!-- New Session -->
  <div></div>
  <ng-template #newSession>
    <button class="trainer__new-session-btn"
            (click)="startSession()"
            *ngIf="sessionEnded">
      Start New Session
    </button>
  </ng-template>
  <div></div>
</div>

<!-- Sounds -->
<audio #periodAudio>
  <source src='assets/sounds/kyoto.wav' type="audio/wav">
</audio>
<audio #sessionAudio>
  <source src='assets/sounds/bowl_bell.wav' type="audio/wav">
</audio>