@import '../../variables.scss';

.fade-in {
  animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.trainer-container {
  display: grid;
  font-family: $font-nova;
  font-size: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 200px;
  margin: 0 auto;
  max-width: 700px;
  padding-top: 20vh;
  place-items: center;
  text-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

.begin-circle__container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.begin-circle__btn {
  background: transparent;
  border: none;
  color: $color-white;
  font-family: inherit;
  font-size: 6rem;
  text-shadow: 0 0 10px $color-darker-gray, 0 0 50px $color-black;
  transition: transform 500ms ease;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.success-fail-btn {
  background: $color-darker-gray;
  border: 0.5rem solid $color-primary-0;
  border-radius: 50%;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
  color: $color-white;
  height: 7rem;
  padding: 1rem;
  transition: opacity 500ms ease;
  width: 7rem;

  &:hover {
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    border-color: $color-complement-0;
    filter: brightness(110%);
  }
}

.success-fail-btn__icon {
  font-size: 4rem;
  font-weight: 800;
}

.timer__container {
  color: $color-white;
  display: grid;
  padding: 1rem;
  place-items: center;
  z-index: 1000;
}

.timer-container--session {
  background: $color-darker-gray;
  border: 0.5rem solid $color-primary-0;
  border-radius: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
  width: 300px;
}

.timer-container--period {
  left: 92px;
  position: absolute;
  top: 138px;
  font-size: 4rem;
}

.timer__clock {
  text-align: center;
}

.timer__btn {
  background: transparent;
  border: 0.3rem solid $color-primary-0;
  border-radius: 50%;
  color: $color-white;
  cursor: pointer;
  padding: 5px;
  transition: all 300ms;

  &:hover {
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    border-color: $color-complement-0;
    filter: brightness(110%);
  }
}

.timer__btn-icon {
  font-size: 2rem;
}

.period-clock {
  font-size: 5rem;
  grid-template-columns: 1fr;
}

.period-circle__box {
  height: 400px;
  margin: 50px auto;
  position: relative;
  width: 400px;
}

.period-circle__wrapper {
  height: 400px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 200px;
}

.period-circle__wrapper--right {
  right: 0;
}

.period-circle__wrapper--left {
  left: 0;
}

.period-circle__whole {
  border: 40px solid transparent;
  border-radius: 50%;
  height: 320px;
  position: absolute;
  top: 0;
  transform: rotate(-135deg);
  width: 320px;
}

.period-circle__right {
  border-right: 40px solid $color-primary-0;
  border-top: 40px solid $color-primary-0;
  right: 1px;
  animation: --circle-animation;
}

.period-circle__left {
  border-bottom: 40px solid $color-primary-0;
  border-left: 40px solid $color-primary-0;
  left: 1px;
}

.new-session-btn {
  background: inherit;
  border: 0.5rem solid $color-primary-0;
  border-radius: 1rem;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
  color: $color-white;
  cursor: pointer;
  font-family: $font-nova;
  font-size: 1.5rem;
  height: 7rem;
  padding: 1rem;
  transition: opacity 500ms ease;
  width: 300px;

  &:hover {
    filter: brightness(110%);
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
}

@keyframes circleRight {
  0% {
    transform: rotate(-135deg);
  }
  50%,
  100% {
    transform: rotate(45deg);
  }
}

@keyframes circleLeft {
  0%,
  50% {
    transform: rotate(-135deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 650px) {
  .trainer-container {
    grid-template-columns: 10vw 80vw 10vw;
  }

  .begin-circle, #cc {
    height: 300px;
    width: 300px;
  }

  .begin-circle__btn {
    font-size: 4rem;
  }
}