<div class="trainer">
  <div class="timer__container">
    <div class="period-clock">{{ currentStreakTimer }}</div>
  </div>
  <p class="trainer__text">Period</p>
  <div class="timer__container timer-container--session">
    <button class="timer__btn" (click)="decreaseSessionLength()">
      <i class="timer__btn-icon material-icons">remove_circle_outline</i>
    </button>
    <div class="timer__clock">{{ sessionTimer }}</div>
    <button class="timer__btn" (click)="increaseSessionLength()">
      <i class="timer__btn-icon material-icons">add_circle_outline</i>
    </button>
  </div>
  <p class="trainer__text">Session</p>
</div>