@import '../../variables.scss';

.fade-in {
  animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.trainer {
  display: grid;
  font-family: $font-nova;
  font-size: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 200px;
  margin: 0 auto;
  max-width: 700px;
  padding-top: 20vh;
  place-items: center;
  text-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

#circle-container {
	align-items: center;
	display: flex;
  justify-content: center;
}

.circle {
	height: 500px;
  border-radius: 50%;
	position: absolute;
  width: 500px;
}

.trainer__begin {
  background: transparent;
  border: none;
  color: $color-white;
  font-family: inherit;
  font-size: 6rem;
  text-shadow: 0 0 10px $color-darker-gray, 0 0 50px $color-black;
  transition: transform 300ms ease;

  &:hover {
    cursor: pointer;
  }
}

#one {
	align-items: center;
  background-color: rgba(0,0,225, 0.45);
	color: white;
	display: flex;
	justify-content: center;
	transition: 500ms;
}

#two {
	background-color: green;
	transition: 500ms;
	opacity: 0.5;
}

#three {
	background-color: red;
	transition: 500ms;
	opacity: 0.5;
}

#four {
	background-color: orange;
	transition: 500ms;
	opacity: 0.5;
}
#five {
	background-color: green;
	transition: 500ms;
	opacity: 0.5;
}

#cc {
	border-radius: 50%;
	height: 500px;
  overflow: hidden;
	position:relative;
  width: 500px;
  transition: transform 500ms ease;

  &:hover {
    transform: scale(1.1)
  }
}

#cc:hover #two {
	transform: translate(0px, 75px);
}
#cc:hover #three {
	transform: translate(0px, -75px);
}
#cc:hover #four {
	transform: translate(75px, 0px);
}
#cc:hover #five {
	transform: translate(-75px, 0px);
}

.success-fail-btn {
  background: $color-darker-gray;
  border: 0.5rem solid $color-primary-0;
  border-radius: 50%;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
  color: $color-white;
  cursor: pointer;
  height: 7rem;
  padding: 1rem;
  transition: opacity 500ms ease;
  width: 7rem;

  &:hover {
    filter: brightness(110%);
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
}

.success-fail-btn__icon {
  font-size: 4rem;
  font-weight: 800;
}

.timer__container {
  color: $color-white;
  display: grid;
  padding: 1rem;
  place-items: center;
  z-index: 1000;
}

.timer-container--session {
  background: $color-darker-gray;
  border: 0.5rem solid $color-primary-0;
  border-radius: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
  width: 300px;
}

.timer-container--period {
  left: 92px;
  position: absolute;
  top: 138px;
  font-size: 4rem;
}

.timer__clock {
  text-align: center;
}

.timer__btn {
 background: transparent;
 border: 0.3rem solid $color-primary-0;
 border-radius: 50%;
 color: $color-white;
 padding: 5px;

 &:hover {
  filter: brightness(110%);
  animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 }
}

.timer__btn-icon {
  cursor: pointer;
  font-size: 2rem;
}

.period-clock {
  font-size: 5rem;
  grid-template-columns: 1fr;
}

.circle__box {
  height: 400px;
  margin: 50px auto;
  position: relative;
  width: 400px;
}

.circle__wrapper {
  height: 400px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 200px;
}

.circle__wrapper--right {
  right: 0;
}

.circle__wrapper--left {
  left: 0;
}

.circle__whole {
  border: 40px solid transparent;
  border-radius: 50%;
  height: 320px;
  position: absolute;
  top: 0;
  transform: rotate(-135deg);
  width: 320px;
}

.circle__right {
  border-right: 40px solid $color-primary-0;
  border-top: 40px solid $color-primary-0;
  right: 1px;
  animation: --circle-animation;
}

.circle__left {
  border-bottom: 40px solid $color-primary-0;
  border-left: 40px solid $color-primary-0;
  left: 1px;
}

.trainer__new-session-btn {
  background: inherit;
  border: 0.5rem solid $color-primary-0;
  border-radius: 1rem;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
  color: $color-white;
  cursor: pointer;
  font-family: $font-nova;
  font-size: 1.5rem;
  height: 7rem;
  padding: 1rem;
  transition: opacity 500ms ease;
  width: 300px;

  &:hover {
    filter: brightness(110%);
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
}

@keyframes circleRight {
  0% {
    transform: rotate(-135deg);
  }
  50%,
  100% {
    transform: rotate(45deg);
  }
}

@keyframes circleLeft {
  0%,
  50% {
    transform: rotate(-135deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 650px) {
  .trainer {
    grid-template-columns: 10vw 80vw 10vw;
  }

  .circle, #cc {
    height: 300px;
    width: 300px;
  }

  .trainer__begin {
    font-size: 4rem;
  }
}