<div class="trainer fade-in">
  <button class="success-fail-btn"
          [ngStyle]="{ 'opacity': periodComplete ? '1' : '0' }"
          (click)="handleSuccessFailClick(false)">
    <i class="success-fail-btn__icon material-icons">clear</i>
  </button>

  <div id="circle-container" *ngIf="!sessionStarted && !firstSessionStarted">
    <div id="cc">
    <div class="circle" id="five"></div>
    <div class="circle" id="four"></div>
    <div class="circle" id="three"></div>
    <div class="circle" id="two"></div>
    <div class="circle" id="one">
      <button class="trainer__begin" (click)="startSession()">
        BEGIN
      </button>
    </div>
    </div>
  </div>

  <div class="circle__box fade-in" *ngIf="firstSessionStarted">
    <div class="circle__wrapper circle__wrapper--right">
      <div class="circle__whole circle__right"
           [ngStyle]="{ 'animation': ('circleRight ' + currentMax + 's linear forwards') }"
           *ngIf="circleAnimationStarted">
      </div>
    </div>
    <div class="timer__container timer-container--period">
      <div class="timer-clock">
        {{ periodTimer }}
      </div>
    </div>
    <div class="circle__wrapper circle__wrapper--left">
      <div class="circle__whole circle__left"
           [ngStyle]="{ 'animation': 'circleLeft ' + currentMax + 's linear forwards' }"
           *ngIf="circleAnimationStarted">
      </div>
    </div>
  </div>

  <button class="success-fail-btn"
          [ngStyle]="{ 'opacity': periodComplete ? '1' : '0' }"
          (click)="handleSuccessFailClick(true)">
    <i class="success-fail-btn__icon material-icons">check</i>
  </button>

  <div></div>
  <div class="timer__container timer-container--session fade-in" *ngIf="sessionStarted else newSession">
    <button class="timer__btn" (click)="decreaseSessionLength()">
      <i class="timer__btn-icon material-icons">remove</i>
    </button>
    <div class="timer__clock">
      {{ sessionTimer }}
    </div>
    <button class="timer__btn" (click)="increaseSessionLength()">
      <i class="timer__btn-icon material-icons">add</i>
    </button>
  </div>
  <div></div>

  <div></div>
  <ng-template #newSession>
    <button class="trainer__new-session-btn"
            (click)="startSession()"
            *ngIf="sessionEnded">
      Start New Session
    </button>
  </ng-template>
  <div></div>
</div>
