@import './variables.scss';

.content {
  background: $color-darker-gray;
  min-height: 100vh;
  padding: 3rem 7rem;
}

@media screen and (max-width: 1170px) {
  .content {
    margin-left: 0;
    padding: 2rem;
  }
}
