@import './variables.scss';

.content {
  background: $color-darker-gray;
  border-top-right-radius: $border-radius-nav;
  height: 1000px;
  margin-left: 20%;
}

@media screen and (max-width: 1170px) {
  .content {
    border-top-left-radius: 0px;
    margin-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .content {
    border-radius: 0px;
  }
}