@import './variables.scss';

.content {
  background: $color-darker-gray;
  border-top-right-radius: $border-radius-nav;
  margin-left: 20%;
  min-height: 100vh;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media screen and (max-width: 1170px) {
  .content {
    border-top-left-radius: 0px;
    margin-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .content {
    border-radius: 0px;
  }
}