<ul class="navbar">
  <li class="navbar__list-item">
    <a class="navbar__link"
       routerLink="trainer"
       routerLinkActive="active">
      <i class="material-icons navbar__icon">timer</i>
      Trainer
    </a>
  </li>
  <li class="navbar__list-item">
    <a class="navbar__link"
       routerLink="stats"
       routerLinkActive="active">
      <i class="material-icons navbar__icon">timeline</i>
      Stats
    </a>
  </li>
  <li class="navbar__list-item">
    <a class="navbar__link"
       routerLink="settings"
       routerLinkActive="active">
      <i class="material-icons navbar__icon">settings</i>
      Settings
    </a>
  </li>
</ul>
<div class="content">
  <router-outlet></router-outlet>
</div>