// $color-primary-0: #4BF2B3;	// Main Primary color */
// $color-primary-1: #44FFB8;
// $color-primary-2: #44FFB8;
// $color-primary-3: #5AD9A9;
// $color-primary-4: #84C0AA;

// $color-secondary-1-0: #4CE1EF;	// Main Secondary color (1) */
// $color-secondary-1-1: #46EFFF;
// $color-secondary-1-2: #46EFFF;
// $color-secondary-1-3: #58C7D1;
// $color-secondary-1-4: #7CAFB3;

// $color-secondary-2-0: #FFA24F;	// Main Secondary color (2) */
// $color-secondary-2-1: #FF9C44;
// $color-secondary-2-2: #FF9C44;
// $color-secondary-2-3: #FFB06A;
// $color-secondary-2-4: #FFD5AF;

// $color-complement-0: #FF864F;	// Main Complement color */
// $color-complement-1: #FF7E44;
// $color-complement-2: #FF7E44;
// $color-complement-3: #FF986A;
// $color-complement-4: #FFC8AF;

$color-primary-0: #4FFFFF;	// Main Primary color */
$color-primary-1: #B0FFFF;
$color-primary-2: #7BFFFF;
$color-primary-3: #23FFFF;
$color-primary-4: #00FBFB;

$color-secondary-1-0: #6191FF;	// Main Secondary color (1) */
$color-secondary-1-1: #B8CEFF;
$color-secondary-1-2: #88ACFF;
$color-secondary-1-3: #3A75FF;
$color-secondary-1-4: #155BFB;

$color-secondary-2-0: #FFC44F;	// Main Secondary color (2) */
$color-secondary-2-1: #FFE5B0;
$color-secondary-2-2: #FFD37B;
$color-secondary-2-3: #FFB623;
$color-secondary-2-4: #FFAA00;

$color-complement-0: #FF9F4F;	// Main Complement color */
$color-complement-1: #FFD4B0;
$color-complement-2: #FFB77B;
$color-complement-3: #FF8723;
$color-complement-4: #FF7400;

$color-black: #131416;
$color-light-gray: #f1f1f1;
$color-dark-gray: #303030;
$color-white: #f6f6f6;