@import './app/variables.scss';

html {
  // background: $color-dark-gray;
  // background: $color-primary-0;
  background: $color-black;
  font-family: 'Ubuntu', sans-serif;
}

button:focus {
  outline: none;
}