@import './app/variables.scss';

html {
  background: $color-black;
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 1rem;
}

button:focus {
  outline: none;
}

@media screen and (max-width: 650px) {
  body {
    margin: 0;
  }
}